@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700@400;700&display=swap");
@import url("tldraw/tldraw.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

label {
  user-select: none;
}

.default-scrollbar {
  overflow-y: auto;
}
.default-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  scroll-behavior: smooth;
}

.default-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.default-scrollbar::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 5px;
}

.default-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}
